.nav-wrap {
  background-color: #3c48fc;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

nav.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: transparent;
  padding: 15px 20px;
}

nav .logo {
  display: flex;
  width: 110px;
  margin-right: 20px;
}

nav .logo img {
  width: 100%;
}

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
}

.nav ul li {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav ul li a.active,
.nav ul li a:hover {
  color: #000;
}

.page-header {
  position: relative;
  display: flex;
  padding: 30px 15px 10px;
  margin-bottom: 15px;
}

.page-header h3 {
  font-size: 25px;
}

.section-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.cards {
  position: relative;
  width: 320px;
  height: 400px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.cards .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 140px;
  margin: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards .card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  nav.nav ul {
    display: none;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
  }
}
