.nav-wrap {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

nav.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: #fff;
  padding: 15px 20px;
}

nav .logo {
  width: 250px;
  margin-right: 20px;
}

nav .logo img {
  width: 100%;
}

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
}

.nav ul li {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
}

.nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.nav ul li a.active,
.nav ul li a:hover {
  color: #495e57;
}


@media screen and (max-width: 768px) {
  nav.nav ul {
    display: none;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
  }
}
