@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&family=Open+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 100%;
  color: #000;
  background-color: #fff;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 20px;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 20px;
}

.success {
  background-color: #00dd03;
}
.warning {
  background-color: #d78f00;
}
.danger {
  background-color: #e01a00;
}
.default {
  background-color: #222222;
}

.errorMessage, .loadingWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loadingWrap .loaderIcon {
  width: 80px;
  height: 80px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}
